.com-dropdown {
  position: relative;
  &-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    z-index: 1000;
  }
  &:hover {
    .com-dropdown-menu {
      display: block;
    }
  }
}
