.user-list {
  width: 200px;
  margin-left: 200px;
  border: 1px solid gray;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    &:last-child {
      border-bottom: 0;
    }
  }
  img {
    width: 60px;
    height: 60px;
    margin-left: 20px;
  }
}
