.com-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.45);
  line-height: 20px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid transparent;
  vertical-align: middle;
  transition: all 0.3s ease;
  color: white;
  &:after {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    content: '';
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s ease;
  }
  &-txt {
    margin-left: 24px;
  }
  &.active {
    background-color: nth($fblue, 1);
    &:after {
      left: 100%;
      margin-left: -19px;
    }
    .com-switch-txt {
      margin-left: 6px;
    }
  }
}
