.com-select {
  position: relative;
  display: inline-flex;
  min-width: 100px;
  min-height: 30px;
  padding: 0 10px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid nth($fgray, 4);
  align-items: center;
  text-align: left;
  cursor: pointer;
  .com-selected {
    flex: 1;
    .tag {
      margin: 5px 5px 5px 0;
      cursor: pointer;
    }
    &.placeholder {
      color: nth($fblack, 3);
    }
  }
  &-box {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background-color: white;
    @include boxShadow;
    z-index: -100;
    @include slide-up-top-leave;
  }
  > .iconfont {
    font-size: nth($fz, 2);
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }
  &-option {
    padding: 0 10px;
    line-height: 30px;
    cursor: pointer;
    transition: background 0.3s ease;
    &.active {
      background-color: nth($fgray, 3);
    }
    &:hover {
      background-color: nth($fblue, 2);
    }
    &.multiple {
      &:hover,
      &.active {
        &:after {
          content: '\2714';
          float: right;
          color: nth($fblack, 3);
        }
      }
      &.active {
        &:after {
          color: nth($fblue, 1);
        }
      }
    }
  }
  &.active {
    border-color: nth($fblue, 1);
    .com-select-box {
      @include slide-up-top-enter(0.3s);
      z-index: 700;
    }
    > .iconfont {
      transform: rotate(-90deg);
    }
  }
  &:hover {
    border-color: nth($fblue, 1);
  }
}
