.loadmore {
  height: 40px;
  line-height: 40px;
  background-color: white;
  text-align: center;
  font-size: nth($fz, 2);
  color: $fblue;
  border-radius: 10px;
  &-loading,
  &-end,
  &-fail {
    display: none;
  }
  &.active {
    .loadmore-txt,
    .loadmore-end,
    .loadmore-fail {
      display: none;
    }
    .loadmore-loading {
      display: block;
    }
  }
  &.end {
    background-color: transparent;
    &:after {
      position: relative;
      top: -21px;
      left: 0;
      display: block;
      width: 60%;
      height: 1px;
      margin: 0 auto;
      background-color: $fblue;
      content: '';
    }
    .loadmore-txt,
    .loadmore-loading,
    .loadmore-fail {
      display: none;
    }
    .loadmore-end {
      display: block;
      > span {
        position: relative;
        display: inline-block;
        width: 20%;
        z-index: 1;
        background-color: nth($fgray, 3);
      }
    }
  }
  &.fail {
    .loadmore-txt,
    .loadmore-loading,
    .loadmore-edn {
      display: none;
    }
    .loadmore-fail {
      display: inline;
    }
  }
}
