.home {
  min-height: 100%;
  background-color: nth($fgray, 3);
}
.container-left {
  float: left;
  width: 600px;
}
.container-right {
  float: right;
}
.tag-list {
  margin-left: 20px;
  .tag {
    display: inline-block;
    height: 40px;
    margin-right: 20px;
    border: 1px solid gray;
    background-image: url('../../assets/img/home.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    border-radius: 4px;
    img {
      width: 40px;
      height: 100%;
    }
    span {
      display: inline-block;
      padding: 0 10px;
      line-height: 40px;
      font-size: nth($fz, 2);
      vertical-align: top;
    }
  }
}
.com-autocomplete {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content {
  overflow: hidden;
}
