form {
  margin-top: 30px;
  text-align: center;
}
h1 {
  font-size: nth($fz, 4);
}
label {
  display: block;
  margin-top: 15px;
  margin-left: 20px;
  font-size: nth($fz, 2);
}
.btn-primary {
  margin-top: 10px;
}
